OPENAI_API_KEY=your-openai-api-key-here

# Optional: set to use PostgresSaver for checkpointing, omit to use MemorySaver
DATABASE_URL=postgresql://user:password@localhost:5432/dbname

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=<your-api-key>
LANGSMITH_PROJECT=<your-langsmith-project-name>
